.Nav_Item_cart_small{
  display: none;
}
@media only screen and (max-width: 991px) {

  .Nav_Item_cart_larg {
    display: none;

  }
  .Nav_Item_cart_small{
    display: block;
  }
  .Nav_Home {
    display: none;
  }
 
}

.Nav_Bar {
  background-color: #d70f64;
}


/* .Nav_Home {
  background: #d18a8a;
  margin: 1px;
} */



/* .Nav_Cart {
  background: #d18a8a;
  margin: 1px;
} */

.Profile_Img {
  width: 30px;
  border-radius: 25px;

}

.dropbtn {
  background: #d70f64;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

@media only screen and (max-width: 991px) {
 
  .Nav_Home {
    margin: 1px;
  }
  a.Nav_Profile.nav-link{
    margin-top: 20px;
  }
  img.Profile_Img{
    margin-top: -18px;
  }
  .Nav_Profile {
    margin: 1px;
  }
  
  .Nav_Cart {
    margin: 1px;
  }
  
  .dropbtn {
    display: none;
  }

  .Nav_Item_cart_small {
    margin: auto;
  }
  .Profile_Img{
    margin-right: 25px;
  }
  .dropdown {
    position: absolute;
    right: 20px;
    display: block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    right: 10px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}