.main_div{
    background-color:black ;
    color: aliceblue;
   
}
p:hover{
    color: brown;
}
h6:hover{
    color: brown;
}
h5:hover{
    color: brown;
}
h3:hover{
    color: brown;
}
td:hover{
    color: brown;
}
th:hover{
    color: brown;
}
span:hover{
    color: brown;
}
table tr{
   display: flex;
   justify-content: space-between;
   
}
.web_Info{
    letter-spacing: 1px;
    text-align: justify;
}
table tr th{
    font-weight: 400;
}
table{
    width: 90%;
   
}
.Email_Input, .Email_Input:focus{
    border-top: none;
    border-right: none;
    border-left: none;
    background: black;
    outline: none;
    color: white;
    max-width: 250px;
}
.security_div{
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 766px) {
    .security_div{
        display: block;
    }
    .Copyright_p{
        text-align: center;
    }
    .privacy_p{
        text-align: center;
    }
  }