.main_div{
    background-color:black ;
    color: aliceblue;
   
 
}
table tr{
   display: flex;
   justify-content: space-between;
   
}
.web_Info{
    letter-spacing: 1px;
    text-align: justify;
}
table tr th{
    font-weight: 400;
}
table{
    width: 90%;
   
}
.Email_Input, .Email_Input:focus{
    border-top: none;
    border-right: none;
    border-left: none;
    background: black;
    outline: none;
    color: white;
    width: 250px;
}
@media only screen and (max-width: 600px) {
    .footer_S {
      width: 100%;
      text-align: center;
    }
  }